<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h2>Users Detail Page</h2>
    <h3><%= user.name %></h3>
    <h4><%= user.email %></h4>
    <p><%= user.age %></p>
    <div class="box">
      <a class="btn" href="/users/<%=user._id%>/edit">Edit</a>
      <a class="btn" href="/users/<%=user._id%>/delete">Delete</a>
    </div>

  </body>
</html>